/* Global variables ======================================================== */
:root {
  /* Color palette */

  /* Primary */
  --color-DUSK: #445876;
  /* Secondary */
  --color-CYAN-OPAQUE: #92CCCD;
  /* Tertiary */
  --color-GUNMETAL: #31343D;
  /* Background */
  --color-SOFT-PEACH: #EDEDF6;
  /* Text */
  --color-BLACK: #000000;
  /* Text */
  --color-WHITE: #FFFFFF;
  /* Supporting */
  --color-SMOKY-GREY: #707070;
  /* Supporting */
  --color-TRANSPARENT: rgba(255, 255, 255, 0);

  /* Fonts */

  /* Usage: text, articles */
  --font-PRIMARY: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* Usage: navigation, titles */
  --font-SECONDARY: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Global styles =========================================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-PRIMARY);
  color: var(--color-BLACK);
  line-height: 1.5;
  height: 100vh;
  background: var(--color-SOFT-PEACH);
}

p {
  margin: 0;
}

/* Header section ==========================================================*/
header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-GUNMETAL);
}

header section {
  padding-top: 2px;
  height: 46px;
}

header section article {
  background-color: var(--color-CYAN-OPAQUE);
  height: 38px;
  width: 150px;
  text-align: right;
  padding-right: 6px;
}

h1 {
  color: var(--color-GUNMETAL);
  font-weight: 900;
  font-size: x-large;
  font-family: var(--font-PRIMARY);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  width: 100%;
}

header nav a {
  color: var(--color-CYAN-OPAQUE);
  background-color: var(--color-GUNMETAL);
  font-family: var(--font-PRIMARY);
  align-self: center;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
  font-size: 16px;
}

/* Hero section ============================================================ */

aside {
  position: relative;
  width: 100%;
  height: 150px;
  background-image: url("../images/hero/hero-320x150.jpg");
  background-repeat: no-repeat;
  /* Used if the image is unavailable */
  background-color: var(--color-SOFT-PEACH);
  background-size: cover;
  margin-bottom: 10px;
}

aside section {
  height: 36px;
  background-color: var(--color-CYAN-OPAQUE);
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: center;
  vertical-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

aside img {
  width: 320px;
  height: 150px;
}

h2 {
  color: var(--color-GUNMETAL);
  /* font-weight: 200; */
  font-size: x-large;
  font-family: var(--font-PRIMARY);
}

/* Main ==================================================================== */

main {
  display: flex;
  flex-direction: column;
}

#about-me,
#work,
#contact-me {
  display: flex;
  margin-left: 5px;
  margin-right: 10px;
  gap: 10px;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 10px;
}

h3 {
  text-align: right;
  margin-right: 10px;
}

.about-me-heading-container,
.footer-container,
.work-heading-container {
  border-right: solid;
  border-width: 3px;
  border-color: var(--color-DUSK);
  /* TODO - research how thats work with font scaling and what is the way to handle it */
  min-width: 70px;
}

/* TODO - implement text-overflow: ellipsis; */
main article p {
  text-align: justify;
  padding-left: 5px;
}

/* Grid for projects ======================================================= */

.projects-grid-container {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  gap: 10px 10px;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  grid-template-areas:
    "mern"
    "mern"
    "mern"
    "led-wall"
    "led-wall"
    "led-wall"
    "calculator"
    "calculator"
    "calculator"
    "pastel-puzzles"
    "pastel-puzzles"
    "pastel-puzzles"
    "run-bunny"
    "run-bunny"
    "run-bunny";
}

.project-1 {
  grid-area: mern;
  background-image: url("../images/mern/mern-225x170.jpg");
}

.project-2 {
  grid-area: led-wall;
  background-image: url("../images/led-wall/led-wall-225x170.jpg");
}

.project-3 {
  grid-area: calculator;
  background-image: url("../images/calculator/calculator-225x170.jpg");
}

.project-4 {
  grid-area: pastel-puzzles;
  background-image: url("../images//pastel-puzzles/pastel-puzzles-225x170.jpg");
}

.project-5 {
  grid-area: run-bunny;
  background-image: url("../images/run-bunny/run-bunny-225x170.jpg");
}

.projects-grid-container article {
  border: 4px solid var(--color-CYAN-OPAQUE);
  background-repeat: no-repeat;
  background-color: var(--color-CYAN-OPAQUE);
  background-size: cover;
  position: relative;
}

.projects-grid-container article hgroup {
  background-color: var(--color-CYAN-OPAQUE);
  position: absolute;
  bottom: 20px;
  padding: 5px 20px 5px 5px;
}

.projects-grid-container article hgroup h4 {
  font-weight: 500;
  /* font-size: larger; */
  font-family: var(--font-PRIMARY);
}


.projects-grid-container article hgroup h5 {
  font-weight: 200;
  /* font-size: small; */
  font-family: var(--font-PRIMARY);
}

/* Footer ================================================================== */

footer section a {
  color: var(--color-BLACK);
  /* background-color: var(--color-GUNMETAL); */
  font-family: var(--font-PRIMARY);
  align-self: center;
  text-decoration: underline 2px var(--color-DUSK);
  text-underline-offset: 5px;
  font-size: 16px;

}

footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  width: 100%;
}

/* Smaller devices */
@media only screen and (min-width: 321px) and (max-width: 420px) {

  aside {
    background-image: url("../UI-and-UX-design/XS-phones/XS-hero-placeholder-480x150.png");
  }

  aside img {
    width: 420px;
    height: 150px;
  }

  /* TODO add background image with correct img */
  .project-1 {
    background-image: url("../UI-and-UX-design/placeholders/projects-325x170.png");
  }

  /* TODO add background image with correct img */
  .project-2 {
    background-image: url("../UI-and-UX-design/placeholders/projects-325x170.png");
  }

  /* TODO add background image with correct img */
  .project-3 {
    background-image: url("../UI-and-UX-design/placeholders/projects-325x170.png");
  }

  /* TODO add background image with correct img */
  .project-4 {
    background-image: url("../UI-and-UX-design/placeholders/projects-325x170.png");
  }

  /* TODO add background image with correct img */
  .project-5 {
    background-image: url("../UI-and-UX-design/placeholders/projects-325x170.png");
  }
}

/* Phones */
@media only screen and (min-width: 421px) and (max-width: 600px) {
  header {
    flex-direction: row;
  }

  header nav {
    justify-content: flex-end;
    margin-right: 20px;
  }

  header nav a {
    font-size: 14px;
    margin-left: 20px;
  }

  aside {
    background-image: url("../UI-and-UX-design/S-tablets/S-hero-placeholder-600x200.png");
    height: 200px;
  }

  aside img {
    width: 600px;
    height: 200px;
  }

  /* TODO add background image with correct img */
  .project-1 {
    background-image: url("../UI-and-UX-design/placeholders/projects-505x170.png");
  }

  /* TODO add background image with correct img */
  .project-2 {
    background-image: url("../UI-and-UX-design/placeholders/projects-505x170.png");
  }

  /* TODO add background image with correct img */
  .project-3 {
    background-image: url("../UI-and-UX-design/placeholders/projects-505x170.png");
  }

  /* TODO add background image with correct img */
  .project-4 {
    background-image: url("../UI-and-UX-design/placeholders/projects-505x170.png");
  }

  /* TODO add background image with correct img */
  .project-5 {
    background-image: url("../UI-and-UX-design/placeholders/projects-505x170.png");
  }

}

/* Supporting media to handle font */
@media only screen and (min-width: 421px) and (max-width: 464px) {
  header nav {
    justify-content: flex-end;
    margin-right: 10px;
  }

  header nav a {
    margin-left: 10px;
  }
}

/* Tablets and Large Phones */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  header {
    flex-direction: row;
  }

  header section article {
    width: 200px;
  }

  header nav {
    justify-content: flex-end;
    margin-right: 20px;
  }

  header nav a {
    font-size: 16px;
    margin-left: 20px;
  }

  aside {
    background-image: url("../UI-and-UX-design/M-tablets/M-hero-placeholder-768x250.png");
    height: 250px;
  }

  aside img {
    width: 768px;
    height: 250px;
  }

  .projects-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas: "mern mern"
      "mern mern"
      "mern mern"
      "led-wall calculator"
      "led-wall calculator"
      "led-wall calculator"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny";
  }

  /* TODO add background image with correct img */
  .project-1 {
    grid-area: mern;
    background-image: url("../UI-and-UX-design/placeholders/projects-top-673x170.png");
  }

  /* TODO add background image with correct img */
  .project-2 {
    grid-area: led-wall;
    background-image: url("../UI-and-UX-design/placeholders/project-332x170.png");
  }

  /* TODO add background image with correct img */
  .project-3 {
    grid-area: calculator;
    background-image: url("../UI-and-UX-design/placeholders/project-332x170.png");
  }

  /* TODO add background image with correct img */
  .project-4 {
    grid-area: pastel-puzzles;
    background-image: url("../UI-and-UX-design/placeholders/project-332x170.png");
  }

  /* TODO add background image with correct img */
  .project-5 {
    grid-area: run-bunny;
    background-image: url("../UI-and-UX-design/placeholders/project-332x170.png");
  }

}

/* Tablets */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  header {
    flex-direction: row;
  }

  header section article {
    width: 250px;
  }

  header nav {
    justify-content: flex-end;
    margin-right: 20px;
  }

  header nav a {
    font-size: 18px;
    margin-left: 20px;
  }

  aside {
    background-image: url("../UI-and-UX-design/placeholders/hero-992x250.png");
    height: 250px;
  }

  aside img {
    width: 768px;
    height: 250px;
  }

  .projects-grid-container {
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas: "mern mern"
      "mern mern"
      "mern mern"
      "mern mern"
      "mern mern"
      "led-wall calculator"
      "led-wall calculator"
      "led-wall calculator"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny";
  }

  /* TODO add background image with correct img */
  .project-1 {
    background-image: url("../UI-and-UX-design/placeholders/project-top-897x290.png");
  }

  /* TODO add background image with correct img */
  .project-2 {
    background-image: url("../UI-and-UX-design/placeholders/project-444x170.png");
  }

  /* TODO add background image with correct img */
  .project-3 {
    background-image: url("../UI-and-UX-design/placeholders/project-444x170.png");
  }

  /* TODO add background image with correct img */
  .project-4 {
    background-image: url("../UI-and-UX-design/placeholders/project-444x170.png");
  }

  /* TODO add background image with correct img */
  .project-5 {
    background-image: url("../UI-and-UX-design/placeholders/project-444x170.png");
  }
}

/* Laptops and Desktops */
@media only screen and (min-width: 993px) and (max-width: 1024px) {
  header {
    flex-direction: row;
  }

  header section article {
    width: 250px;
  }

  header nav {
    justify-content: flex-end;
    margin-right: 20px;
  }

  header nav a {
    font-size: 18px;
    margin-left: 20px;
  }

  aside {
    background-image: url("../UI-and-UX-design/XL-desktops/XL-hero-placeholder-1024x300.png");
    height: 300px;
  }

  aside img {
    width: 768px;
    height: 300px;
  }

  .projects-grid-container {
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas: "mern mern"
      "mern mern"
      "mern mern"
      "mern mern"
      "mern mern"
      "led-wall calculator"
      "led-wall calculator"
      "led-wall calculator"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny";
  }

  /* TODO add background image with correct img */
  .project-1 {
    background-image: url("../UI-and-UX-design/placeholders/projects-top-929x290.png");
  }

  /* TODO add background image with correct img */
  .project-2 {
    background-image: url("../UI-and-UX-design/placeholders/projects-460x170.png");
  }

  /* TODO add background image with correct img */
  .project-3 {
    background-image: url("../UI-and-UX-design/placeholders/projects-460x170.png");
  }

  /* TODO add background image with correct img */
  .project-4 {
    background-image: url("../UI-and-UX-design/placeholders/projects-460x170.png");
  }

  /* TODO add background image with correct img */
  .project-5 {
    background-image: url("../UI-and-UX-design/placeholders/projects-460x170.png");
  }

}

/* Monitors, Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  header {
    flex-direction: row;
  }

  header section article {
    width: 250px;
  }

  header nav {
    justify-content: flex-end;
    margin-right: 20px;
  }

  header nav a {
    font-size: 18px;
    margin-left: 20px;
  }

  aside {
    background-image: url("../UI-and-UX-design/XXL-widescreens/XXL-hero-placeholder-1200x350.png");
    height: 350px;
  }

  aside img {
    width: 768px;
    height: 350px;
  }

  .projects-grid-container {
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas: "mern mern"
      "mern mern"
      "mern mern"
      "mern mern"
      "mern mern"
      "led-wall calculator"
      "led-wall calculator"
      "led-wall calculator"
      "led-wall calculator"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny";
  }

  /* TODO add background image with correct img */
  .project-1 {
    background-image: url("../UI-and-UX-design/placeholders/project-top-1105x290.png");
  }

  /* TODO add background image with correct img */
  .project-2 {
    background-image: url("../UI-and-UX-design/placeholders/projects-548x230.png");
  }

  /* TODO add background image with correct img */
  .project-3 {
    background-image: url("../UI-and-UX-design/placeholders/projects-548x230.png");
  }

  /* TODO add background image with correct img */
  .project-4 {
    background-image: url("../UI-and-UX-design/placeholders/projects-548x230.png");
  }

  /* TODO add background image with correct img */
  .project-5 {
    background-image: url("../UI-and-UX-design/placeholders/projects-548x230.png");
  }

}

/* Widescreens */
@media only screen and (min-width: 1201px) {
  header {
    flex-direction: row;
  }

  header section article {
    width: 250px;
  }

  header nav {
    justify-content: flex-end;
    margin-right: 20px;
  }

  header nav a {
    font-size: 18px;
    margin-left: 20px;
  }

  aside {
    background-image: url("../UI-and-UX-design/XXL-widescreens/XXL-hero-placeholder-1200x350.png");
    height: 350px;
  }

  aside img {
    width: 768px;
    height: 350px;
  }

  .projects-grid-container {
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas: "mern mern"
      "mern mern"
      "mern mern"
      "mern mern"
      "mern mern"
      "led-wall calculator"
      "led-wall calculator"
      "led-wall calculator"
      "led-wall calculator"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny"
      "pastel-puzzles run-bunny";
  }

  /* TODO add background image with correct img */
  .project-1 {
    background-image: url("../UI-and-UX-design/placeholders/project-top-1105x290.png");
  }

  /* TODO add background image with correct img */
  .project-2 {
    background-image: url("../UI-and-UX-design/placeholders/projects-548x230.png");
  }

  /* TODO add background image with correct img */
  .project-3 {
    background-image: url("../UI-and-UX-design/placeholders/projects-548x230.png");
  }

  /* TODO add background image with correct img */
  .project-4 {
    background-image: url("../UI-and-UX-design/placeholders/projects-548x230.png");
  }

  /* TODO add background image with correct img */
  .project-5 {
    background-image: url("../UI-and-UX-design/placeholders/projects-548x230.png");
  }

}