/* Global variables ======================================================== */
:root {
  /* Color palette */

  /* Usage: Primary color */
  --color-DUSK: #445876;
  /* Usage: Secondary color */
  --color-CYAN-OPAQUE: #92CCCD;
  /* Usage: Tertiary color */
  --color-GUNMETAL: #31343D;
  /* Usage: Page background */
  --color-SOFT-PEACH: #EDEDF6;
  /* Usage: Text primary*/
  --color-BLACK: #000000;
  /* Usage: Text secondary */
  --color-WHITE: #FFFFFF;
  /* Usage: Supporting */
  --color-SMOKY-GREY: #707070;
  /* Usage: Supporting */
  --color-TRANSPARENT: rgba(255, 255, 255, 0);

  /* Usage: text, articles */
  --font-PRIMARY: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* Usage: navigation, titles */
  --font-SECONDARY: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  /* Images paths*/
  --blackjack-file-path: url("../img/blackjack-1800x250.jpg");
  --password-generator-file-path: url("../img/password-generator-1800x250.jpg");
  --calculator-file-path: url("../img/calculator-1800x250.jpg");
  --guess-the-word-file-path: url("../img/guess-the-word-1800x250.jpg");
  --tic-tac-toe-file-path: url("../img/tic-tac-toe-1800x250.jpg");

}

/* Global styles =========================================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-PRIMARY);
  color: var(--color-BLACK);
  line-height: 1.5;
  height: 100vh;
  background: var(--color-SOFT-PEACH);
}

p {
  margin: 0;
}

a:hover {
  cursor: pointer;
}

main,
footer {
  padding-left: 4px;
  padding-right: 4px;
}


h1 {
  font-size: xx-large;
}

h1,
h2 {
  color: var(--color-GUNMETAL);
  font-family: var(--font-PRIMARY);
  font-weight: bolder;
}

h2,
h3 {
  font-size: x-large;
}

h3 {
  color: var(--color-DUSK);
  font-weight: 900;
}

h4,
h5 {
  color: var(--color-BLACK);
  text-align: left;
}

h4 {
  font-weight: 700;
  padding-bottom: 5px;
}

h5 {
  font-weight: 500;
}

body aside,
#about-me,
#work {
  margin-bottom: 10px;
}

#about-me hgroup,
#work>hgroup,
#contact-me hgroup {
  border-bottom: var(--color-DUSK) solid 4px;
  text-align: center;
  margin-bottom: 20px;
}

header nav span,
footer section span {
  border-bottom: 3px solid;
}

/* Header ================================================================== */
header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-GUNMETAL);
}

header section {
  margin-top: 4px;
  margin-bottom: 8px;
  height: 56px;
}

header section article {
  display: flex;
  background-color: var(--color-CYAN-OPAQUE);
  height: 100%;
  width: 200px;
  text-align: right;
  padding-right: 6px;
  justify-content: flex-end;
}

/* Navigation ============================================================== */
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 10px;
}

header nav a {
  color: var(--color-CYAN-OPAQUE);
  background-color: var(--color-GUNMETAL);
  font-family: var(--font-PRIMARY);
  align-self: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

header nav a:active {
  color: var(--color-SMOKY-GREY);
}

header nav a:hover {
  color: var(--color-SMOKY-GREY);
}

/* Hero ==================================================================== */
aside {
  position: relative;
}

aside section {
  height: 36px;
  background-color: var(--color-CYAN-OPAQUE);
  position: absolute;
  bottom: 10%;
  right: 10%;
  text-align: center;
  vertical-align: center;
  padding-left: 5%;
  padding-right: 5%;
  height: 40px;
}

/* About me ================================================================ */
#about-me article p {
  text-align: justify;
}

/* Work ==================================================================== */
#work section article {
  margin: 0 0 10px 20px;
  min-height: 150px;
  border: 4px var(--color-CYAN-OPAQUE) solid;
  background-color: var(--color-SOFT-PEACH);
  position: relative;
  background-size: cover;
}

#work section article:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.black-jack {
  grid-area: black-jack;
  background-image: var(--blackjack-file-path);
}

.password-generator {
  grid-area: password-generator;
  background-image: var(--password-generator-file-path);
}

.calculator {
  grid-area: calculator;
  background-image: var(--calculator-file-path);
}

.guess-the-word {
  grid-area: guess-the-word;
  background-image: var(--guess-the-word-file-path);
}

.tic-tac-toe {
  grid-area: tic-tac-toe;
  background-image: var(--tic-tac-toe-file-path);
}

#work article hgroup {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 200px;
  background-color: var(--color-CYAN-OPAQUE);
  padding: 10px 0 10px 0;
}

/* Footer ================================================================== */
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 10px;
}

footer section span {
  border-color: var(--color-DUSK);
}

footer section a {
  color: var(--color-BLACK);
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 500;
}

footer section a:hover {
  color: var(--color-SMOKY-GREY);
}

/* ========================================================================= */
/* Media queries =========================================================== */
/* ========================================================================= */

/* Tablets */
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }

  header nav {
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "black-jack black-jack"
      "black-jack black-jack"
      "password-generator calculator"
      "guess-the-word tic-tac-toe";
  }

  #work section article {
    margin-bottom: 0px;
  }
}

/* Laptops */
@media screen and (min-width: 1024px) {
  h3 {
    width: 100px;
    text-align: right;
    padding-left: 20px;
  }

  /* TODO refactor by elements access not by # */
  #about-me hgroup,
  #work>hgroup,
  #contact-me hgroup {
    display: flex;
    border: none;
    border-right: var(--color-DUSK) solid 4px;
    width: 100px;
    justify-content: flex-end;
    padding-right: 15px;
    margin: 0;
  }

  main section article {
    padding-left: 20px;
  }

  #about-me,
  #work,
  #contact-me {
    display: flex;
  }

  .projects-grid {
    display: grid;
    width: 100%;
  }

  #contact-me section {
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-evenly;
    width: 100%;
  }

}

/* Desktops */
/* @media screen and (min-width: 1200px) {} */