/* Global variables ======================================================== */

:root {
  /* Color palette ========================================================= */

  /* Primary */
  --color-DUSK: #445876;
  /* Secondary */
  --color-CYAN-OPAQUE: #92CCCD;
  /* Tertiary */
  --color-GUNMETAL: #31343D;
  /* Background */
  --color-SOFT-PEACH: #EDEDF6;
  /* Text */
  --color-BLACK: #000000;
  /* Text */
  --color-WHITE: #FFFFFF;
  /* Supporting */
  --color-SMOKY-GREY: #707070;
  /* Supporting */
  --color-TRANSPARENT: rgba(255, 255, 255, 0);

  /* Fonts ================================================================= */

  /* Usage: text, articles */
  --font-PRIMARY: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* Usage: navigation, titles */
  --font-SECONDARY: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Global styles =========================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-PRIMARY);
  color: var(--color-BLACK);
  line-height: 1.5;
  height: 100vh;
  background: var(--color-SOFT-PEACH);
}

header {
  font-family: var(--font-SECONDARY);
  color: var(--color-CYAN-OPAQUE);
  display: flex;
  flex-direction: column;
  background-color: var(--color-GUNMETAL);
}

header section {
  background-color: var(--color-CYAN-OPAQUE);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

header nav {
  background-color: var(--color-GUNMETAL);
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
}

header nav a {
  text-decoration: underline 2px;
  background-color: var(--color-GUNMETAL);
  color: var(--color-CYAN-OPAQUE);
}

header nav a:active {
  background-color: var(--color-GUNMETAL);
  color: var(--color-CYAN-OPAQUE);
}

header nav a:hover {
  color: var(--color-WHITE);
  cursor: pointer;
}

h1 {
  color: var(--color-GUNMETAL);
  font-size: 5vh;
  font-weight: bolder;
}

aside {
  position: relative;
}

aside img {
  width: 100%;
}

aside section {
  background-color: var(--color-CYAN-OPAQUE);
  position: absolute;
  top: 75%;
  right: 20px;
  text-align: center;
  padding: 5px 10px 5px 10px;
}

h2 {
  color: var(--color-GUNMETAL);
  font-size: 3vh;
  font-weight: bolder;
}

#about-me {}

#about-me,
#work {
  display: flex;
  margin-left: 5px;
  margin-right: 10px;
  gap: 5px;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
}

/* TODO separate to 2 different name classes for about-me & work sections for better reading*/
.main-heading-container {
  border-right: solid;
  border-width: 3px;
  border-color: var(--color-DUSK);
}

h3 {
  color: var(--color-DUSK);
  font-weight: bolder;
  margin-right: 5px;
}

main article p {
  text-align: justify;
}

.projects {
  display: grid;
}

h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


/* Media queries ===========================================================*/

@media screen and (max-width: 320px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1200px) {}