/* 
==========================================================================
Global variables
========================================================================== 
*/

:root {
  /* Main color palette */
  --page-primary-bg-color: #EDEDF6;

  /* Header color palette */
  --header-primary-bg-color: #31343D;
  --header-secondary-bg-color: #92CCCD;

  /* Navigation color palette */
  --nav-links-color: #92CCCD;

  /* Hero section color palette */
  --hero-primary-text-color: #31343D;
  --hero-text-container-bg-color: #92CCCD;
}

/* 
==========================================================================
Global styles
========================================================================== 
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--page-primary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* 
==========================================================================
Header section
========================================================================== 
*/

header {
  background-color: var(--header-primary-bg-color);
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
}

header span {
  background-color: var(--header-secondary-bg-color);
}

/* 
==========================================================================
Navigation section
========================================================================== 
*/

nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 20px;
}

nav ul>li {
  display: inline-block;
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: var(--nav-links-color);
}

/* Change background on mouse-over */
nav a:hover {}

/* Add a color to the active/current link */
header a.active {
  background-color: var(--header-secondary-bg-color);
  color: var(--header-primary-bg-color);
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 100px;
}

/*
==========================================================================
Main section
========================================================================== 
*/


/*
==========================================================================
Footer
========================================================================== 
*/

/*
==========================================================================
Default CSS layout for narrow screens 
========================================================================== 
*/

/*
==========================================================================
Media queries 
========================================================================== 
*/

/* Smartphones start somewhere around here */
@media screen and (min-width: 320px) {}

/* You might do landscape phones here if your content seems to need it */
@media (min-width: 480px) {}

/* Starting into tablets somewhere in here */
@media (min-width: 600px) {}

/* Perhaps bigger tablets */
@media (min-width: 768px) {}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {}

/* A bit bigger if you need some adjustments around here */
@media (min-width: 1024px) {}

/* Widescreens */
@media (min-width: 1200px) {}