/* 
==========================================================================
Global styles
========================================================================== 
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* 
==========================================================================
Global variables
========================================================================== 
*/

:root {
  /* Color palette */
  --navigation-primary-bg-color: #31343D;
  --navigation-primary-text-color: ##92CCCD;
  --hero-primary-text-color: #31343D;
  --primary-title-text-color: #445876;
  --hover-link-color: #435877;
  --hover-element-color: #91CCCD;
  --secondary-title-text-color: #31333E;
}

/* 
==========================================================================
Header section
========================================================================== 
*/

/* 
==========================================================================
Navigation section
========================================================================== 
*/

/*
==========================================================================
Main section
========================================================================== 
*/


/*
==========================================================================
Footer
========================================================================== 
*/

/*
==========================================================================
Default CSS layout for narrow screens 
========================================================================== 
*/

/*
==========================================================================
Media queries 
========================================================================== 
*/

/* Then progressively add bigger sizes from small to large */

/* Smartphones start somewhere around here */
@media screen and (min-width: 320px) {}

/* You might do landscape phones here if your content seems to need it */
@media (min-width: 480px) {}

/* Starting into tablets somewhere in here */
@media (min-width: 600px) {}

/* Perhaps bigger tablets */
@media (min-width: 768px) {}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {}

/* A bit bigger if you need some adjustments around here */
@media (min-width: 1024px) {}

/* Widescreens */
@media (min-width: 1200px) {}